.shapeOne {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  background-color: #FF5733 !important;
  position: absolute;
  top: 60%;
  left: 44%;
  z-index: -1;
  opacity: 0.4;
  
}
.shapeTwo {
  height: 14rem;
  width: 14rem;
  border-radius: 50%;
  background-color: #ffc300 !important;
  position: absolute;
  top: 40%;
  left: 32%;
  z-index: -1;
  opacity: 0.4;

}
.shapeThree {
  height: 18rem;
  width: 18rem;
  border-radius: 50%;
  background-color:#daf7a6 !important;
  position: absolute;
  top: 20%;
  left: 45%;
  z-index: -1;
  opacity: 0.4;

}

.prime{
    background-color: #581845 !important;
    color: #daf7a6 !important;
}
.option-wrapper{
  box-shadow: rgba(105, 3, 3, 0.2) 0px 7px 29px 0px !important;

} 