:root {
  --shadeOne: #accbff;
  --shadeTwo: #92bbff;
  --shadeThree: #78aaff;
  --shadeFour: #649eff;
  --shadeFive: #4188ff;
}
.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* margin-left: -30px; */
  width: auto;
}

.my-masonry-grid_column {
  padding: 2px;
  background-clip: padding-box;
}

.my-masonry-grid_column > div {
  background: grey;
  margin-bottom: 2%;
}
.card{
  cursor:  pointer !important;
}
.card-footer{
  /* display: none !important; */
  visibility: hidden !important;
  transition: 0.2s ease-out;
  transform: scale(5s) !important;
  border: none !important;
}
.card:hover{
.card-footer{
  /* display: flex !important; */
  visibility: visible !important;
}
}
.btn{
  background: transparent !important;
  border-left: none !important;
  border-color: #DAF7A6 !important ;

}
.btn:hover{
  color: black !important;
  font-weight: bold !important;
}
.form-control{
  border-color: none !important;
  outline: none !important;
  box-shadow  : none !important;
  border-color: #DAF7A6 !important ;
border-right: none !important;


}
